html,
body {
  min-width: 300px;
  background: linear-gradient(45deg, #000, #272626, #6d6a6a, #422f2f, #a02a2a, #ff0000, #001aff, #15ff00, #ffd000, #7e6239, #6d6a6a, #272626, #fff);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Open Sans", Arial, sans-serif;
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
}

#gih{
    width: 100px;
    display: flex ;
    align-items: center;
    justify-content: center;
    background: white;
    font-size: xx-large;

}
#abc{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: xx-large;

}
#def{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: xx-large;

}